*{
    box-sizing: border-box;
}
.body {
    background: #10101B;
    height: 100vh;
    display: none;
}

                        /* input field styles */
input[type='text']{
    background-color: #3D4153;
    color: #ffffff;
    border: 2px solid #858299;
}
input[type='text']:focus {
    background-color: #3D4153;
    color: #fff;
    font-size: 20px;
}
input[type='number']{
    background-color: #3D4153;
    color: #ffffff;
    border: 2px solid #858299;
}
input[type='number']:focus {
    background-color: #3D4153;
    color: #fff;
    font-size: 20px;
}
textarea[type='text']{
    background-color: #3D4153;
    color: #ffffff;
    border: 2px solid #858299;
}
textarea[type='text']:focus {
    background-color: #3D4153;
    color: #fff;
    font-size: 20px;
}
input[type='email']{
    background-color: #3D4153;
    color: #ffffff;
    border: 2px solid #858299;
}
input[type='email']:focus {
    background-color: #3D4153;
    color: #fff;
    font-size: 20px;
}

label{
    color: gray;
    font-weight: bold;
}
h1{
    color: gray;
}
h3{
    color: gray;
}
.half-width{
    background: #222436;
    padding: 30px;
}
.addskill-btn{
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    background: #495BC3;
    color: #fff;
}
.addskill-btn:hover{
    border-color: white;
}
.addskill-btn:active,.addskill-btn:focus{
    border:solid #6778db; 
    color:#fff;
}
.generate-btn{
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    background: #495BC3;
    color: #fff;
    font-size: large;
    
}
.generate-btn:focus{
    border:solid #6778db; 
    color:#fff;
}

.half-width-generate{
    background: #222436;
    text-align: center;
}

.add-more-work{
    background-color: #3D4153;
    color: #ffffff;
    border: 2px solid #858299;
}
.add-more-work:focus {
    background-color: #3D4153;
    color: #fff;
    font-size: 20px;
}
.resume-builder{
    display: none;
}


                    /* resume-main section */

.my-img{
    
    border-radius: 50%;
    width: 250px;
}
.background-left{
    background-color: #668cff;
}
.social{
    padding-top: 20px;
    
}


hr{
    height: 50%;
    opacity: 80%;
    
}